<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon-body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,74}</string>
                <key>spriteSourceSize</key>
                <string>{168,74}</string>
                <key>textureRect</key>
                <string>{{364,0},{168,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon-head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.524138,0.527607}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,163}</string>
                <key>spriteSourceSize</key>
                <string>{145,163}</string>
                <key>textureRect</key>
                <string>{{0,103},{145,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,55}</string>
                <key>spriteSourceSize</key>
                <string>{19,55}</string>
                <key>textureRect</key>
                <string>{{47,0},{19,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{537,507}</string>
                <key>spriteSourceSize</key>
                <string>{537,507}</string>
                <key>textureRect</key>
                <string>{{145,103},{537,507}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,47}</string>
                <key>spriteSourceSize</key>
                <string>{47,47}</string>
                <key>textureRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taixiu_bg_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,58}</string>
                <key>spriteSourceSize</key>
                <string>{298,58}</string>
                <key>textureRect</key>
                <string>{{66,0},{298,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taixiu_top_money.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,103}</string>
                <key>spriteSourceSize</key>
                <string>{153,103}</string>
                <key>textureRect</key>
                <string>{{532,0},{153,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>taixiu_top.png</string>
            <key>size</key>
            <string>{685,610}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b6f254495399fd764fcb71315d18d70:5e8eae591ffc8792b46df5a27ff8c029:a70d8b85a109e4d8cba9b9ff5cf1e6e6$</string>
            <key>textureFileName</key>
            <string>taixiu_top.png</string>
        </dict>
    </dict>
</plist>
