<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg-x2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{971,615}</string>
                <key>spriteSourceSize</key>
                <string>{971,615}</string>
                <key>textureRect</key>
                <string>{{0,677},{971,615}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnClose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,59}</string>
                <key>spriteSourceSize</key>
                <string>{67,59}</string>
                <key>textureRect</key>
                <string>{{0,0},{67,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>homvang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{67,0},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading-line1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,21}</string>
                <key>spriteSourceSize</key>
                <string>{409,21}</string>
                <key>textureRect</key>
                <string>{{402,169},{409,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading-line2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,18}</string>
                <key>spriteSourceSize</key>
                <string>{402,18}</string>
                <key>textureRect</key>
                <string>{{0,169},{402,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thele-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,60}</string>
                <key>spriteSourceSize</key>
                <string>{166,60}</string>
                <key>textureRect</key>
                <string>{{0,101},{166,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thele.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,60}</string>
                <key>spriteSourceSize</key>
                <string>{166,60}</string>
                <key>textureRect</key>
                <string>{{166,101},{166,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theletext.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{663,339}</string>
                <key>spriteSourceSize</key>
                <string>{663,339}</string>
                <key>textureRect</key>
                <string>{{0,190},{663,339}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,68}</string>
                <key>spriteSourceSize</key>
                <string>{180,68}</string>
                <key>textureRect</key>
                <string>{{664,101},{180,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thuongx2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,68}</string>
                <key>spriteSourceSize</key>
                <string>{180,68}</string>
                <key>textureRect</key>
                <string>{{844,101},{180,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tientrinh-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,60}</string>
                <key>spriteSourceSize</key>
                <string>{166,60}</string>
                <key>textureRect</key>
                <string>{{332,101},{166,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tientrinh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,60}</string>
                <key>spriteSourceSize</key>
                <string>{166,60}</string>
                <key>textureRect</key>
                <string>{{498,101},{166,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titleX2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{701,148}</string>
                <key>spriteSourceSize</key>
                <string>{701,148}</string>
                <key>textureRect</key>
                <string>{{0,529},{701,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x2daily.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,97}</string>
                <key>spriteSourceSize</key>
                <string>{134,97}</string>
                <key>textureRect</key>
                <string>{{405,0},{134,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x2daily_t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,97}</string>
                <key>spriteSourceSize</key>
                <string>{134,97}</string>
                <key>textureRect</key>
                <string>{{539,0},{134,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x2momo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,93}</string>
                <key>spriteSourceSize</key>
                <string>{160,93}</string>
                <key>textureRect</key>
                <string>{{673,0},{160,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x2momo_t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,93}</string>
                <key>spriteSourceSize</key>
                <string>{160,93}</string>
                <key>textureRect</key>
                <string>{{833,0},{160,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x2napthe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,101}</string>
                <key>spriteSourceSize</key>
                <string>{128,101}</string>
                <key>textureRect</key>
                <string>{{149,0},{128,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x2napthe_t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,101}</string>
                <key>spriteSourceSize</key>
                <string>{128,101}</string>
                <key>textureRect</key>
                <string>{{277,0},{128,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>x2_event.png</string>
            <key>size</key>
            <string>{1024,1292}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efcd89e3370d88075cb5bc9e966947b4:0279f2af3399ea1cbfd2a965548b764e:8d9367ac10e062fed87366df2236b873$</string>
            <key>textureFileName</key>
            <string>x2_event.png</string>
        </dict>
    </dict>
</plist>
