<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Avenger/minigame/fire/Fire_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,218},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,435},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,652},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_101.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,869},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_102.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1086},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_103.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1303},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_104.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1520},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_105.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1737},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_106.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,1},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_107.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,1},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_108.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,1},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_109.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,1},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1001,1},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_110.png</key>
			<dict>
				<key>frame</key>
				<string>{{1218,1},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_111.png</key>
			<dict>
				<key>frame</key>
				<string>{{1435,1},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_112.png</key>
			<dict>
				<key>frame</key>
				<string>{{1652,1},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_113.png</key>
			<dict>
				<key>frame</key>
				<string>{{1869,1},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_114.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,133},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_115.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,133},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_116.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,133},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_117.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,133},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_118.png</key>
			<dict>
				<key>frame</key>
				<string>{{1001,133},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_119.png</key>
			<dict>
				<key>frame</key>
				<string>{{1218,133},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1435,133},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_120.png</key>
			<dict>
				<key>frame</key>
				<string>{{1652,133},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_121.png</key>
			<dict>
				<key>frame</key>
				<string>{{1869,218},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_122.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,435},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_123.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,265},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,397},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,265},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,397},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,265},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,397},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,265},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1001,265},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1218,265},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1435,265},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1652,265},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,397},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1133,397},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1350,397},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1567,397},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1784,435},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,529},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,652},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,529},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,529},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,529},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{1133,529},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{1350,529},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{1567,529},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{1784,567},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,661},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,869},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,1086},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,1303},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,1520},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,1737},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,661},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,661},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,661},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{1048,661},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{1265,661},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{1482,661},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{1699,699},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{1916,699},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_48.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,793},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_49.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,878},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,793},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,793},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,793},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_52.png</key>
			<dict>
				<key>frame</key>
				<string>{{1180,793},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_53.png</key>
			<dict>
				<key>frame</key>
				<string>{{1397,793},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_54.png</key>
			<dict>
				<key>frame</key>
				<string>{{1614,831},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_55.png</key>
			<dict>
				<key>frame</key>
				<string>{{1831,916},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_56.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,925},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_57.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,1010},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_58.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,1095},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_59.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,925},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,925},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_60.png</key>
			<dict>
				<key>frame</key>
				<string>{{1180,925},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_61.png</key>
			<dict>
				<key>frame</key>
				<string>{{1397,925},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_62.png</key>
			<dict>
				<key>frame</key>
				<string>{{1614,963},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_63.png</key>
			<dict>
				<key>frame</key>
				<string>{{1831,1048},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_64.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,1057},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_65.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,1227},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_66.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,1312},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_67.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,1529},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_68.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,1746},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_69.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,1057},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{878,1057},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_70.png</key>
			<dict>
				<key>frame</key>
				<string>{{1095,1057},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_71.png</key>
			<dict>
				<key>frame</key>
				<string>{{1312,1057},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_72.png</key>
			<dict>
				<key>frame</key>
				<string>{{1529,1095},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_73.png</key>
			<dict>
				<key>frame</key>
				<string>{{1746,1180},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_74.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,1189},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_75.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,1274},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_76.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,1444},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_77.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,1189},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_78.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,1189},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_79.png</key>
			<dict>
				<key>frame</key>
				<string>{{1227,1189},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1444,1227},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_80.png</key>
			<dict>
				<key>frame</key>
				<string>{{1661,1312},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_81.png</key>
			<dict>
				<key>frame</key>
				<string>{{1878,1312},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_82.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,1321},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_83.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,1406},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_84.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,1491},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_85.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,1661},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_86.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,1878},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_87.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,1708},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_88.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,1840},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_89.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,1623},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,1453},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_90.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,1840},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_91.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,1321},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_92.png</key>
			<dict>
				<key>frame</key>
				<string>{{1227,1321},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_93.png</key>
			<dict>
				<key>frame</key>
				<string>{{1444,1359},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_94.png</key>
			<dict>
				<key>frame</key>
				<string>{{1661,1444},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_95.png</key>
			<dict>
				<key>frame</key>
				<string>{{1878,1529},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_96.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,1453},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_97.png</key>
			<dict>
				<key>frame</key>
				<string>{{878,1585},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_98.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,1670},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_99.png</key>
			<dict>
				<key>frame</key>
				<string>{{1142,1453},{130,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,215}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistFire.png</string>
			<key>realTextureFileName</key>
			<string>PlistFire.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>