<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,1},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,1},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,1},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1329,1},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1661,1},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,333},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,333},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,333},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,333},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1329,333},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1661,333},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,665},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,665},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,665},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,665},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1329,665},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1661,665},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,997},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,997},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,997},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,997},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1329,997},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{1661,997},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1329},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,1329},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,1329},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,1329},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{1329,1329},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{1661,1329},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1661},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,1661},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,1661},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,1661},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{1329,1661},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{1661,1661},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1993},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,1993},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,1993},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,1993},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{1329,1993},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{1661,1993},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_48.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2325},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_49.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2657},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2989},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,3321},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,3653},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_52.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,2325},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_53.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,2325},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_54.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,2325},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_55.png</key>
			<dict>
				<key>frame</key>
				<string>{{1329,2325},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_56.png</key>
			<dict>
				<key>frame</key>
				<string>{{1661,2325},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_57.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,2657},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_58.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,2989},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_59.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,3321},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,3653},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_60.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,2657},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_61.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,2657},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_62.png</key>
			<dict>
				<key>frame</key>
				<string>{{1329,2657},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_63.png</key>
			<dict>
				<key>frame</key>
				<string>{{1661,2657},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,2989},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,3321},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,3653},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_64.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,2989},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_65.png</key>
			<dict>
				<key>frame</key>
				<string>{{1329,2989},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
			<key>Avenger/minigame/hulk/cho/hulk_cho_66.png</key>
			<dict>
				<key>frame</key>
				<string>{{1661,2989},{330,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,330}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistHulkCho.png</string>
			<key>realTextureFileName</key>
			<string>PlistHulkCho.png</string>
			<key>size</key>
			<string>{2048,4096}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>4096</integer>
		</dict>
	</dict>
</plist>